body {
    height: 100vh;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: column;
}

.header {
    background-color: white;
}

.header__title {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    padding: 20px;    
}

.header__nav a {
    display: block;
    padding: 1em;
    text-decoration: none;    
    color: black;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;

    background: linear-gradient(90deg, #ddd 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s;
}

.header__nav a:hover {
    background-position: left bottom;
}

.container {    
    width: 98%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;    
}

.footer {
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 1em;
    justify-self: flex-end;
    align-self: flex-end;
}

@media screen and (min-width: 1200px) {
    .header {
        display: inline-grid;
        grid-template-columns: 70% 30%;
        align-items: center;        
    }

    .header__nav ul {
        display: flex;
        flex-direction: row;
    }
}